<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Banner</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <form role="form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Banner Name</label>
                    <input type="text" class="form-control">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="text" class="form-control">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>End Date</label>
                    <input type="text" class="form-control">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Banner File Path</label>
                    <input type="file" class="form-control">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>IsActive</label>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">No
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Submit" />
                <input type="reset"  class="btn btn-info"    value="Reset" />
            </div>
        </div>
    </form>