<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Users
            <small *ngIf="!edithidden && key==0"> / New User</small>
            <small *ngIf="key>0"> / Update User</small>
        </h3>
        <div align="right"></div>
    </div>
    <!-- /.col-lg-12 -->
    <ng2-toasty [position]="'top-right'"></ng2-toasty>

</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div align="right" class="panel-heading">
                <button class="btn btn-primary btn-md" *ngIf="!addhidden" (click)="add()">
                    <i class="fa fa-user-plus"></i> Add</button>
                <button class="btn btn-success " value="" *ngIf="!edithidden" [disabled]="!userform.valid" (click)="submit()">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> Submit
                </button>
                <button class="btn btn-warning " value="" (click)="back()" *ngIf="!edithidden">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back
                </button>
                <button type="reset" class="btn btn-info" value="" (click)="reset()" *ngIf="key==0">
                    <i class="fa fa-repeat" aria-hidden="true"></i> Reset
                </button>
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="userTable" *ngIf="!addhidden">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>User Name</th>
                            <th>Email Id</th>
                            <th>Mobile</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of result">
                            <td class="center">{{user.USER_FIRST_NAME}} {{user.USER_LAST_NAME}}</td>
                            <td class="center">{{user.USER_USERNAME}}</td>
                            <td class="center">{{user.USER_EMAIL}}</td>
                            <td class="center">{{user.USER_MOBILE}}</td>
                            <td class="center">
                                <ui-switch size="small" [checked]="user.USER_STATUS==1 ? true:false" (change)="switchChange($event,user.USER_ID)"></ui-switch>
                                <button class="btn btn-info btn-xs" (click)="edit(user.USER_ID)">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <form role="form" [formGroup]="userform" *ngIf="!edithidden">
                    <input type="hidden" name="IsAdmin" formControlName="IsAdmin" id="optionsRadiosInline1" value="0">
                    <input type="hidden" class="form-control" formControlName="CreatedBy" id="CreatedBy" name="CreatedBy">
                    <input type="hidden" class="form-control" formControlName="LastUpdatedBy" id="LastUpdatedBy" name="LastUpdatedBy">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group required" [ngClass]="isFirstName ?'has-success has-feedback':''">
                                <label>First Name </label>
                                <input type="text" class="form-control" [ngClass]="isFirstName ?'valid':'invalid'" minlength="3" maxlength="20" formControlName="FirstName"
                                    id="FirstName" name="FirstName">
                                <span [ngClass]="isFirstName ?'glyphicon glyphicon-ok form-control-feedback':''"></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required" [ngClass]="isLastName ?'has-success has-feedback':''">
                                <label>Last Name </label>
                                <input type="text" class="form-control" [ngClass]="isLastName ?'valid':'invalid'" minlength="3" maxlength="20" formControlName="LastName"
                                    id="LastName" name="LastName">
                                <span [ngClass]="isLastName ?'glyphicon glyphicon-ok form-control-feedback':''"></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="isMiddleName ?'has-success has-feedback':''">
                                <label>Middle Name </label>
                                <input type="text" class="form-control" [ngClass]="isMiddleName ?'valid':'norequired'" minlength="3" maxlength="20" formControlName="MiddleName"
                                    id="MiddleName" name="MiddleName">
                                <span [ngClass]="isMiddleName ?'glyphicon glyphicon-ok form-control-feedback':''"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group required" [ngClass]="isUserName ?'has-success has-feedback':''">
                                <label>UserName </label>
                                <input type="text" class="form-control" [ngClass]="isUserName ?'valid':'invalid'" minlength="6" maxlength="10" formControlName="UserName"
                                    id="UserName" name="UserName">
                                <span [ngClass]="isUserName ?'glyphicon glyphicon-ok form-control-feedback':''"></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required" [ngClass]="isPassword ?'has-success has-feedback':''">
                                <label>Password </label>
                                <input type="text" class="form-control" [ngClass]="isPassword ?'valid':'invalid'" minlength="4" maxlength="10" formControlName="Password"
                                    id="Password" name="Password">
                                <span [ngClass]="isPassword ?'glyphicon glyphicon-ok form-control-feedback':''"></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required" [ngClass]="isEmail ?'has-success has-feedback':''">
                                <label>Email </label>
                                <input type="text" class="form-control" [ngClass]="isEmail ?'valid':'invalid'" (keyup)="validEmail()" formControlName="Email"
                                    id="Email" name="Email">
                                <span [ngClass]="isEmail ?'glyphicon glyphicon-ok form-control-feedback':''"></span>
                                <span [ngClass]="emailvalid ?'text-danger hide':'text-danger show'">Please enter valid email</span>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group required" [ngClass]="isMobile ?'has-success has-feedback':''">
                                <label>Mobile No. </label>
                                <input type="text" class="form-control" [ngClass]="isMobile ?'valid':'invalid'" minlength="10" maxlength="10" (keyup)="validMobile()"
                                    formControlName="Mobile" id="Mobile" name="Mobile">
                                <span [ngClass]="isMobile ?'glyphicon glyphicon-ok form-control-feedback':''"></span>
                                <span [ngClass]="mobilevalid ?' hide':'text-danger show'">Please enter only digits</span>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog " data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Deactivation</h4>
            </div>
            <div class="modal-body">
                <p>Do you want {{activedeactivevalue}} the user ?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="activeUser('1')">Yes</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="activeUser('0')">No</button>
            </div>
        </div>
    </div>
</div>


<!-- /.row -->